<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.nottodolist.Daily.DailyMapper">


    <update id="UpdDaily">
        update t_use_list
        set cost=#{cost},
            use_yn=1
        where  use_list_id=#{useListId}
    </update>

    <select id="selDailyAll">
        select C.name,A.date,A.cost,B.cost_category costCategoryId
        from t_use_list as A
        inner join t_monthly_goal as B
        on A.goal_id=B.goal_id
        inner join t_not_todo_list as C
        on C.not_todo_id=B.not_todo_id
        where date_format(date,'%Y-%m-%d')=#{date}
    </select>

    <update id="delDaily">
        update t_use_list
        set use_yn=0,
            cost=0
        where use_list_id=#{useListId}
    </update>


</mapper>