<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.nottodolist.data.DataMapper">

    <select id="selWeeklyMoney">
        select C.name,format(sum(A.use_cost),0) saveCost
        from t_use_list as A
        inner join t_monthly_goal as B
        on A.goal_id=B.goal_id
        inner join t_not_todo as C
        on C.not_todo_id=B.not_todo_id
        where cost_category = 1 and date between DATE_SUB(CURDATE(),INTERVAL 7 DAY)and now() and member_id=#{memberId}
        group by name
    </select>

    <select id="selWeeklyTime">
        select C.name, format(sum(A.use_cost),0) saveCost
        from t_use_list as A
        inner join t_monthly_goal as B
        on A.goal_id=B.goal_id
        inner join t_not_todo as C
        on C.not_todo_id=B.not_todo_id
        where cost_category = 2 and date between DATE_SUB(CURDATE(),INTERVAL 7 DAY)and now() and member_id=#{memberId}
        group by name
    </select>

    <select id="selMonthMoney">
        SELECT month_year month, format(SUM(save_cost),0) AS saveCost
        FROM t_monthly_goal
        WHERE cost_category = 1 and member_id=#{memberId}
        GROUP BY month_year
        ORDER BY month_year
    </select>

    <select id="selMonthTime">
        SELECT month_year month, format(SUM(save_cost),0) AS saveCost
        FROM t_monthly_goal
        WHERE cost_category = 2 and member_id=#{memberId}
        GROUP BY month_year
        ORDER BY month_year
    </select>

</mapper>