<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.nottodolist.monthlyGoal.MonthlyGoalMapper">

    <insert id="insMonthlyGoal" useGeneratedKeys="true" keyProperty="goalId">
        insert t_monthly_goal
        set not_todo_id = #{notTodoId},
        cost_category = #{costCategory},
        goal_cost = #{goalCost},
        month_year = #{monthYear},
        save_cost = #{goalCost}
    </insert>

    <update id="updMonthlyGoal">
        update t_monthly_goal
        set cost_category = #{costCategory},
        goal_cost = #{goalCost},
        save_cost = #{goalCost},
        not_todo_id = #{notTodoId}
        where goal_id = #{goalId}
    </update>

    <update id="updSaveCost">
        update t_monthly_goal
        set save_cost = save_cost - #{useCost}
        where goal_id = #{goalId}
    </update>

    <insert id="insNotTodo" useGeneratedKeys="true" keyProperty="notTodoId">
        insert t_not_todo
        set name = #{name}
    </insert>

    <select id="selMonthlyGoal">
        select A.goal_id goalId, B.name notTodo, A.goal_cost goalCost, sum(C.use_cost) sumCost,
        A.month_year monthYear
        from t_monthly_goal A
        inner join t_not_todo B
        on A.not_todo_id = B.not_todo_id
        inner join t_use_list C
        on A.goal_id = C.goal_id
        where A.month_year = date_format(curdate(), '%Y-%m')
        group by A.goal_id
    </select>

    <select id="selMonthlyGoalAll">
        select A.goal_id goalId, A.month_year monthYear, B.name notTodo,
        A.cost_category costCategoryId, A.goal_cost goalCost
        from t_monthly_goal A
        inner join t_not_todo B
        on A.not_todo_id = B.not_todo_id
        inner join t_use_list C
        on A.goal_id = C.goal_id
        group by A.goal_id
        order by A.goal_id desc
    </select>

    <select id="selNotTodoId">
        select not_todo_id
        from t_not_todo
        where name = #{name}
    </select>

    <delete id="delMonthlyGoal">
        delete from t_monthly_goal
        where goal_id = #{goalId}
    </delete>

    <select id="selMaxSaveMoney">
        select month_year monthYear, sum(save_cost) maxSaveMoney
        from t_monthly_goal
        where cost_category = 1
        group by month_year
        order by maxSaveMoney desc
        limit 1
    </select>

    <select id="selMaxSaveTime">
        select month_year monthYear, sum(save_cost) maxSaveTime
        from t_monthly_goal
        where cost_category = 2
        group by month_year
        order by maxSaveTime desc
        limit 1
    </select>

    <select id="selSumSaveMoney">
        select sum(save_cost)
        from t_monthly_goal
        where cost_category = 1
        and month_year between #{startMonth} and #{endMonth}
    </select>

    <select id="selSumSaveTime">
        select sum(save_cost)
        from t_monthly_goal
        where cost_category = 2
        and month_year between #{startMonth} and #{endMonth}
    </select>

</mapper>